*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

/* font */
h1,h2,h3,h4,h5, a{
    font-size: 1.12rem;
    font-family: futura-pt, sans-serif;
    font-weight: bold;
    font-style: normal;
    color: black;
}

p{
    font-family: 'Apple SD Gothic Neo','Malgun Gothic',arial,sans-serif;
    font-size: 1.12rem;
    color: black;
}

.font-apple{
    font-family: 'Apple SD Gothic Neo','Malgun Gothic',arial,sans-serif;
}
.font-futura{
    font-family: futura-pt, sans-serif;
}
.font-arial{
    font-family: Arial, Helvetica, sans-serif;
}

